$bodyFont: 'Montserrat', sans-serif;
$headingFont: 'Red Hat Display';
$bodyfontSize: 28px;
$bodycolor: #141414;

//White
$white: #fff;
$white-smoke: #F4F4F4;

//Black 
$black: #000;

$smokey-grey: #707070;

$light-grey: #D9D9D9;
$light-greyTint1: #F9F9FA;

$warm-blue: #4A48DA;
$warm-blueTint1: #4A44E2;

//Breakpoints
$xxl-large-pc:1700px;
$xl-large-pc:1699px;
$large-pc:1499px;
$medium-pc:1399px;
$small-pc:1299px;
$laptop:1199px;
$tablet-landscape: 1024px;
$upto-tablet: 992px;
$tablet: 991px;
$mini-tablet: 767px;
$phone-landscape: 575px;
$smartphone: 479px;
$mini-smartphone: 380px;